.accordeon__list {
    margin-top: 65px;
}
.accordeon__item {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.accordeon__item:not(:first-child) {
    margin-top: 20px;
}
.accordeon__details {
    position: relative;
    margin: 0;
}
.accordeon__details::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    width: 12px;
    height: 6px;
    background: url(accordeon-arrow.svg) center center/cover no-repeat;
    transition: transform 0s;
    pointer-events: none;
}
.accordeon__details[open] .accordeon__delivery,
.accordeon__details[open] .accordeon__sublist {
    -webkit-animation: slide-sublist 0.2s linear;
    animation: slide-sublist 0.2s linear;
}
.accordeon__details[open] .accordeon__descr {
    -webkit-animation: slide-descr 0.5s linear;
    animation: slide-descr 0.5s linear;
}
.accordeon__details[open]::before {
    top: 40px;
    transform: rotate(180deg);
    transition: transform 0.3s;
}
.accordeon__summary {
    display: block;
    margin: 0;
    padding: 15px 0;
}
.accordeon__title {
    display: inline-block;
    padding: 0;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
}
.accordeon__subtitle {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.05em;
    color: #969696;
}
.accordeon__delivery,
.accordeon__sublist {
    margin-top: 20px;
    padding-bottom: 35px;
    overflow: hidden;
}
.accordeon__sublist {
    padding-left: 19px;
}
.accordeon__subitem {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.05em;
}
.accordeon__subitem::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 4px;
    height: 4px;
    background-color: #e31e24;
    border-radius: 50%;
}
.accordeon__subitem:not(:first-child) {
    margin-top: 10px;
}
.accordeon__delivery ul,
.accordeon__descr ul {
    padding-left: 2rem;
    list-style: disc;
}
.accordeon__delivery li,
.accordeon__descr li {
    margin-top: 3px;
}
.accordeon__delivery {
    padding-left: 0;
}
.accordeon__descr,
.accordeon__descr > ol > li {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
}
.accordeon__descr > ol > li:not(:first-child) {
    margin-top: 10px;
}
.accordeon__descr {
    margin-top: 20px!important;
    padding: 0 19px 35px 19px!important;
    overflow: hidden;
}
.accordeon__descr_pl0 {
    padding-left: 0;
}
.accordeon__descr span {
    font-weight: inherit;
}
.accordeon__descr .red {
    font-style: italic;
    color: #e31e24;
}
.accordeon__descr .uppercase {
    text-transform: uppercase;
}
.accordeon__descr .tac {
    text-align: center;
}
.accordeon__descr .link {
    font-weight: 700;
    color: #e31e24;
}
@media (min-width: 992px) {
    .accordeon__descr .link:hover {
        text-decoration: underline;
    }
    .accordeon__descr .link:active {
        opacity: 0.6;
    }
}
@-webkit-keyframes slide-sublist {
    0% {
        padding-bottom: 0;
        max-height: 0;
    }
    100% {
        max-height: 10em;
    }
}
@keyframes slide-sublist {
    0% {
        padding-bottom: 0;
        max-height: 0;
    }
    100% {
        max-height: 10em;
    }
}
@-webkit-keyframes slide-descr {
    0% {
        padding-bottom: 0;
        max-height: 0;
    }
    100% {
        max-height: 100em;
    }
}
@keyframes slide-descr {
    0% {
        padding-bottom: 0;
        max-height: 0;
    }
    100% {
        max-height: 100em;
    }
}
.delivery .titleH1::after {
    width: 17%;
}
.delivery__tabheader-list {
    display: flex;
    -moz-column-gap: 90px;
    column-gap: 90px;
    position: relative;
    margin-top: 50px;
}
.delivery__tabheader-list::after {
    content: "";
    position: absolute;
    left: -1%;
    bottom: -10px;
    width: 101%;
    height: 1px;
    background-color: #ccc;
}
.delivery__tabheader-item {
    position: relative;
}
.delivery__tabheader-item::after {
    content: "";
    position: absolute;
    left: -5%;
    bottom: -10px;
    width: 0;
    height: 1px;
    background-color: #e31e24;
    z-index: 2;
}
.delivery__tabheader-item_active::after {
    width: 110%;
}
.delivery__tabheader-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.delivery__tabcontent-list {
    margin-top: 45px;
}
.delivery__tabcontent-item {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    color: #010231;
    opacity: 0;
    height: 0;
    pointer-events: none;
}
.delivery__tabcontent-item_active {
    transition: opacity 0.3s;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
}
.delivery .accordeon__item:nth-child(3) .accordeon__details::before,
.delivery .accordeon__item:nth-child(4) .accordeon__details::before {
    display: none;
}
.agents .titleH2 {
    margin-top: 85px;
}
.agents__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 60px!important;
}
.agents__item {
    display: grid;
    place-items: center;
}
.agents__img {
    max-width: 165px;
    width: 100%;
}
.exchange .titleH2 {
    margin-top: 120px;
}
.exchange .accordeon__summary {
    padding: 28px 0;
}
.exchange .accordeon__sublist {
    margin-top: 0;
}
@media (max-width: 1199px) {
    .accordeon__list {
        margin-top: 50px;
    }
    .agents__list {
        margin-top: 50px;
    }
}
@media (max-width: 991px) {
    .agents__img {
        max-width: unset;
    }
}
@media (max-width: 767px) {
    .exchange .accordeon__summary {
        padding: 20px 0;
    }
    .exchange .accordeon__details_guarantee::before {
        top: 30px;
    }
}
@media (max-width: 575px) {
    .delivery .titleH1::after {
        width: 50%;
    }
    .delivery__tabheader-list {
        -moz-column-gap: 30px;
        column-gap: 30px;
        margin-top: 30px;
    }
    .delivery__tabheader-title {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .delivery__tabcontent-list {
        margin-top: 0;
    }
    .accordeon__list {
        margin-top: 40px;
    }
    .accordeon__title {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .accordeon__summary {
        padding-right: 10px;
    }
    .accordeon__subtitle {
        margin-top: 7px;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    .accordeon__details::before {
        left: 6%;
    }
    .accordeon__delivery,
    .accordeon__sublist {
        margin-top: 0;
        padding-bottom: 20px;
    }
    .accordeon__delivery,
    .accordeon__descr,
    .accordeon__descr li,
    .accordeon__descr ol,
    .accordeon__descr p,
    .accordeon__descr ul,
    .accordeon__subitem {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .accordeon__sublist {
        margin-left: 15px;
    }
    .accordeon__descr {
        margin-top: 0;
        padding: 0 10px 20px 10px;
    }
    .agents__list {
        margin-top: 30px;
    }
    .exchange .accordeon__list {
        margin-top: 30px;
    }
}
