.product-category__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 27px;
    column-gap: 27px;
    row-gap: 40px;
    margin-top: 50px;
    padding-bottom: 15px;
    width: 100%;
}
.things-to-know__wrapper {
    margin-top: 47px;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .03em;
}
.things-to-know__wrapper p:not(:first-child) {
    margin-top: 15px;
}
.btn-lazy {
    margin: 40px 0;
    background-color: #E31E24;
    box-shadow: 2px 5px 15px rgb(0 0 0 / 30%);
    border-radius: 5px;
    border: none;
    padding: 17.5px 48px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #ffffff;
}
.btn-lazy:hover {
    background-color: #BF0006;
}