
.promo .main-slider {
  margin-top: 26px;
}

.promo .main-slider .slider__wrapper {
  border-radius: 15px;
}

.promo .main-slider .slider__item {
  width: 100%;
  height: 327px;
}

.promo .categories .slider {
  margin: 88px 0 20px 0;
  width: 100%;
}

.promo .categories .slider__wrapper {
  margin-top: 15px;
}

.promo .categories .slider__wrapper_768, .promo .categories .slider__wrapper_320 {
  display: none;
}

.promo .categories .slider__arrow {
  top: 60%;
}

.promo .categories .slider__item {
  justify-content: space-between;
  padding: 0 25px;
}

.promo .categories .slider__item .col-4 {
  display: flex;
}

.promo .categories__item {
  position: relative;
  padding: 13px 15px;
  max-width: 350px;
  width: 100%;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .promo .categories__item:hover {
    box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.2);
  }
  .promo .categories__item:active {
    opacity: 0.5;
  }
}

.promo .categories__item-img {
  position: absolute;
  top: -50px;
  right: 20px;
}

.promo .categories__item-title {
  margin-top: 125px;
  font-weight: bold;
  color: #020534;
}

.promo .categories__item-amount {
  margin-top: 5px;
  color: #666666;
}

@media (max-width: 1199px) {
  .promo > .container > .row > .col-3 {
    padding-right: 0;
  }
  .promo__catalogue-link {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .promo .main-slider .slider__item {
    height: 280px;
  }
  .promo__list {
    margin-top: 20px;
  }
  .promo__item {
    padding: 8px;
  }
  .promo__item-link {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .promo__item-title {
    margin-top: 115px;
  }
  .promo .categories__item {
    padding-bottom: 5px;
    max-width: 290px;
  }
}

@media (max-width: 991px) {
  .promo {
    height: auto;
  }
  .promo > .container > .row > .col-3 {
    display: none;
  }
  .promo .categories .slider__wrapper {
    margin-top: 0;
  }
  .promo .categories .slider__wrapper_1920 {
    display: none;
  }
  .promo .categories .slider__wrapper_768 {
    display: block;
  }
  .promo .categories .slider__item {
    justify-content: flex-start;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .promo .categories__item {
    padding-left: 4px;
    padding-right: 4px;
    max-width: 210px;
  }
  .promo .categories__item-img {
    max-width: 130px;
    max-height: 110px;
  }
  .promo .categories__item-title {
    margin-top: 55px;
    height: 32px;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .promo .categories__item-amount {
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 767px) {
  .promo {
    padding-top: 0;
  }
  .promo .main-slider .slider__item {
    height: 210px;
  }
  .promo__list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .promo__item {
    width: 60%;
  }
  .promo__item:nth-child(3) .promo__item-link {
    max-width: 230px;
  }
  .promo .categories .slider {
    margin-top: 60px;
  }
  .promo .categories .slider__wrapper_1920 {
    display: block;
  }
  .promo .categories .slider__wrapper_768 {
    display: none;
  }
  .promo .categories .slider__item {
    justify-content: space-between;
  }
  .promo .categories__item {
    max-width: 240px;
  }
}

@media (max-width: 575px) {
  .promo .container {
    padding: 0 10px;
  }
  .promo .main-slider .slider__item {
    height: 145px;
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  .promo__item {
    width: 100%;
  }
  .promo .categories .slider__wrapper_1920 {
    display: none;
  }
  .promo .categories .slider__wrapper_320 {
    display: block;
  }
  .promo .categories__item {
    max-width: unset;
  }
  .promo .categories__item-img {
    max-width: 170px;
    max-height: 150px;
  }
  .promo .categories__item-title {
    margin-top: 105px;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 374px) {
    .promo .main-slider .slider__item {
      height: 135px;
    }
  }
  .product-preview .slider__wrapper {
    margin-top: 35px;
  }
  
  .product-preview .slider__item {
    justify-content: center;
  }
  
  .product-preview .slider .col-3 {
    display: flex;
  }
  
  .product-preview .slider .col-3:nth-child(1) {
    justify-content: flex-start;
  }
  
  .product-preview .slider .col-3:nth-child(2), .product-preview .slider .col-3:nth-child(3) {
    justify-content: center;
  }
  
  .product-preview .slider .col-3:nth-child(4) {
    justify-content: flex-end;
  }
  
  .product-preview__list {
    display: flex;
    row-gap: 100px;
    padding-bottom: 10px;
    width: 100%;
  }
  
  .product-preview__list > .col-3 {
    height: 373px;
  }
  
  .product-preview__item-link-to-cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 7px;
    column-gap: 7px;
    width: 95px;
    height: 42px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #E31E24;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .product-preview__item-link-to-cart:hover {
    background-color: #BF0006;
    color: #ffffff;
  }
  
  .product-preview__item-link-to-cart:hover .product-preview__item-link-to-cart-arrow path,
  .product-preview__item-link-to-cart:hover .product-preview__item-link-to-cart-icon path {
    fill: #ffffff;
  }
  
  .product-preview__item-link-to-cart:active {
    opacity: 0.7;
  }
  
  .product-preview__item-link-to-cart-arrow {
    max-width: 20px;
    max-height: 20px;
  }
  
  .product-preview__item-link-to-cart-icon {
    max-width: 26px;
    width: 100%;
    max-height: 26px;
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .product-preview__list {
      row-gap: 50px;
    }
    .product-preview__list > .col-3 {
      height: 325px;
    }
    .product-preview__item {
      max-width: 213px;
      height: 325px;
    }
    .product-preview__item-link {
      max-height: 168px;
    }
    .product-preview__item-img {
      max-width: 213px;
      max-height: 168px;
    }
    .product-preview__item-title {
      margin-top: 10px;
    }
    .product-preview__item-cart {
      width: 80px;
      height: 35px;
    }
    .product-preview__item-cart::before {
      width: 23px;
      height: 23px;
    }
    .product-preview__item-price {
      font-size: 2.0rem;
      line-height: 2.3rem;
    }
    .product-preview__item-price-wrapper {
      margin-top: 15px;
    }
  }
  
  @media (max-width: 991px) {
    .product-preview__list {
      row-gap: 40px;
    }
    .product-preview__item-title-link {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .product-preview__list {
      row-gap: 30px;
    }
    .product-preview__list > .col-6 {
      display: flex;
      justify-content: center;
      height: 325px;
    }
    .product-preview__item {
      max-width: 230px;
      height: 325px;
    }
  }
  
  @media (max-width: 575px) {
    .product-preview__list > .col-12 {
      height: 310px;
    }
    .product-preview__item {
      max-width: unset;
      height: 310px;
    }
    .product-preview__item-img {
      max-width: unset;
      max-width: unset;
      max-height: 170px;
    }
    .product-preview__item-hit {
      margin-top: 0;
    }
    .product-preview__item-cart {
      width: 95px;
      height: 42px;
    }
    .product-preview__item-cart::before {
      width: 26px;
      height: 26px;
    }
    .product-preview__item-price {
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
    .product-preview__item-price-wrapper {
      margin-top: 15px;
    }
  }
  
  .hit {
    margin-top: 55px;
  }
  
  .hit .slider__wrapper_768, .hit .slider__wrapper_576, .hit .slider__wrapper_320 {
    display: none;
  }
  
  @media (max-width: 1199px) {
    .hit {
      margin-top: 75px;
    }
  }
  
  @media (max-width: 991px) {
    .hit {
      margin-top: 60px;
    }
    .hit .titleH2::after {
      width: 23%;
    }
    .hit .slider__wrapper_1920 {
      display: none;
    }
    .hit .slider__wrapper_768 {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .hit {
      margin-top: 50px;
    }
    .hit .titleH2::after {
      width: 30%;
    }
    .hit .slider__wrapper_768 {
      display: none;
    }
    .hit .slider__wrapper_576 {
      display: block;
    }
  }
  
  @media (max-width: 575px) {
    .hit {
      margin-top: 30px;
    }
    .hit .titleH2::after {
      width: 50%;
    }
    .hit .slider__wrapper_576 {
      display: none;
    }
    .hit .slider__wrapper_320 {
      display: block;
    }
  }
  
  .actions .slider__wrapper {
    margin-top: 35px;
    overflow: visible;
  }
  
  .actions .slider__item {
    display: none;
    padding: 0;
  }
  
  .actions .slider__item_active {
    display: flex;
    -webkit-animation: 0.75s ease-out 1 activeSlide;
    animation: 0.75s ease-out 1 activeSlide;
  }
  
  .actions .slider__item:nth-child(1) .slider__link {
    background-image: url("../img/slides/discount.jpg");
  }
  
  .actions .slider__item:nth-child(2) .slider__link {
    background-image: url("../img/slides/discount.jpg");
  }
  
  .actions .slider__item:nth-child(3) .slider__link {
    background-image: url("../img/slides/discount.jpg");
  }
  
  @media (max-width: 1199px) {
    .actions {
      margin-top: 75px;
    }
  }
  
  @media (max-width: 991px) {
    .actions {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 767px) {
    .actions {
      margin-top: 50px;
    }
    .actions .slider__link {
      background-size: 120% 120%;
      background-position: 100% 40%;
    }
  }
  
  @media (max-width: 575px) {
    .actions {
      margin-top: 30px;
    }
    .actions .slider__link {
      background-size: 210% 115%;
      background-position: 42% 50%;
    }
  }
  
  @media (max-widh: 374px) {
    .actions .slider__link {
      background-size: 210% 110%;
    }
  }
  
  .slider__nav-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  
  .slider__nav-btn {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .slider__nav-btn span {
    display: flex;
    align-items: center;
    width: 40px;
    height: 2px;
    background-color: #ADADAD;
  }
  
  .slider__nav-btn_active span {
    background-color: #020534;
  }  