.header .catalogue {
    position: relative;
   }
   
   .header-info__catalogue {
    display: flex;
    position: absolute;
    top: 37px;
    left: 7px;
    width: 704px;
    height: 0;
    opacity: 0;
    background-color: #020332;
    transition-duration: 0s;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    pointer-events: none;
   }
   
   .header-info__catalogue_active {
    transition-duration: 0.2s;
    height: auto;
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
   }
   
   .header-info__catalogue-open {
    background-color: #E31E24;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
    padding: 17.5px 26px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 29px 10px 11px;
    width: 160px;
    height: 37px;
    border-radius: 3px;
   }
   
   @media (min-width: 992px) {
    .header-info__catalogue-open:hover {
       background-color: #BF0006;
    }
    .header-info__catalogue-open:active {
      opacity: 0.7;
    }
   }
   
   @media (max-width: 1199px) {
    .header-info__catalogue-open {
      padding: 13.5px 26px;
    }
   }
   
   .header-info__catalogue-open_active .header-info__catalogue-open-icon span {
    width: 26px;
   }
   
   .header-info__catalogue-open_active .header-info__catalogue-open-icon span:nth-child(1) {
    margin-top: 6px;
    transform: rotate(45deg);
   }
   
   .header-info__catalogue-open_active .header-info__catalogue-open-icon span:nth-child(2) {
    display: none;
   }
   
   .header-info__catalogue-open_active .header-info__catalogue-open-icon span:nth-child(3) {
    margin-top: -3px;
    transform: rotate(-45deg);
   }
   
   .header-info__catalogue-open-icon span {
    display: block;
    width: 31px;
    height: 3px;
    background-color: #ffffff;
    transition-duration: 0.3s;
   }
   
   .header-info__catalogue-open-icon span:not(:first-child) {
    margin-top: 4px;
   }
   
   .header-info__catalogue-open-icon span:nth-child(2) {
    width: 25px;
   }
   
   .header-info__catalogue-open-text {
    display: block;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #ffffff;
    font-weight: bold;
   }
   
   .header-info__catalogue-list {
    position: relative;
    padding: 35px 20px 50px 30px;
    width: 391px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
   }
   
   .header-info__catalogue-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
   }
   
   @media (min-width: 992px) {
    .header-info__catalogue-item:hover .header-info__catalogue-img path, .header-info__catalogue-item:hover .header-info__catalogue-img circle, .header-info__catalogue-item:hover .header-info__catalogue-img g {
      opacity: 1;
      fill: #ffffff;
    }
   }
   
   .header-info__catalogue-item:not(:first-child) {
    margin-top: 17px;
   }
   
   @media (min-width: 992px) {
    .header-info__catalogue-item:nth-child(3):hover .header-info__catalogue-img path, .header-info__catalogue-item:nth-child(3):hover .header-info__catalogue-img circle, .header-info__catalogue-item:nth-child(3):hover .header-info__catalogue-img g {
      opacity: 1;
      fill: #E31E24;
    }
   }
   
   .header-info__catalogue-link {
    padding-left: 15px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;
    cursor: pointer;
   }
   
   @media (min-width: 992px) {
    .header-info__catalogue-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }
    .header-info__catalogue-link:active {
      opacity: 0.6;
    }
    .header-info__catalogue-link:hover .header-info__catalogue-img path, .header-info__catalogue-link:hover .header-info__catalogue-img circle, .header-info__catalogue-link:hover .header-info__catalogue-img g {
      opacity: 1;
      fill: #E31E24;
    }
   }
   
   .header-info__catalogue .col-4:nth-child(2) {
    position: relative;
   }
   
   .header-info__catalogue-sublist {
    position: absolute;
    top: 0;
    right: -313px;
    display: none;
    padding: 35px 20px 50px 30px;
    width: 313px;
   }
   
   .header-info__catalogue-sublist_active {
    display: block;
   }
   
   .header-info__catalogue-subitem:not(:first-child) {
    margin-top: 15px;
   }
   
   .header-info__catalogue-sublink {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #ffffff;
   }
   
   @media (min-width: 992px) {
    .header-info__catalogue-sublink:hover {
      color: #ffffff;
      text-decoration: underline;
    }
    .header-info__catalogue-sublink:active {
      opacity: 0.8;
    }
   }
   
   @media (max-width: 1199px) {
    .header-info__catalogue-open {
      padding: 10px 20px;
      width: 150px;
    }
  }
  
  @media (max-width: 991px) {
    .header-info__catalogue {
      width: auto;
    }
    .header-info__catalogue-open {
      padding: 11px 14px;
      width: 60px;
    }
    .header-info__catalogue-open-text {
      display: none;
    }
    .header-info__catalogue-sublist {
      display: none;
    }
    .header-info__catalogue-link:hover {
      color: #ffffff;
    }
  }