.titleH1::after,
.titleH2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px!important;
    height: 1px;
    background-color: #020534;
}
.news-item__date {
    display: inline-block;
    margin-top: 28px;
    color: #666;
}
.news-item__img {
    margin-top: 28px;
    float: right;
    margin-left: 30px;
    max-width: 540px;
    width: 100%;
    max-height: 358px;
}
.news-item__descr {
    margin-top: 15px;
    line-height: 2.4rem;
}
.news-item__descr p {
    margin-top: 15px;
}
@media (max-width: 991px) {
    .news-item__img {
        max-width: 380px;
    }
    .news-item__next-wrapper {
        margin-top: 40px;
    }
}
@media (max-width: 767px) {
    .news-item__img {
        float: initial;
        margin-top: 15px;
        margin-left: 0;
        max-width: unset;
    }
}
@media (max-width: 575px) {
    .news-item__descr {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
    .news-item__next-wrapper {
        margin-top: 20px;
    }
    .news-item__next-text {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
}
