.actions > .d-flex {
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
    z-index: 20;
}
@media (max-width: 991px) {
    .actions > .d-flex {
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    .actions > .d-flex {
        margin-top: 40px;
    }
}
@media (max-width: 575px) {
    .actions > .d-flex {
        margin-top: 30px;
    }
}
.select {
    display: inline-block;
    position: relative;
    margin-left: 28px;
    width: 285px;
}
.select_active .select__header {
    border-radius: 5px 5px 0 0;
}
.select_active .select__header::after {
    transform: translateY(-50%) rotate(180deg);
}
.select_active .select__body {
    display: block;
}
.select__text {
    font-weight: 300;
    color: #747474;
}
.select__header {
    position: relative;
    padding: 10px 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.select__header::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 11px;
    height: 7px;
    background: url(/upload/img/main/icons/select-arrow.svg) center center/cover no-repeat;
    pointer-events: none;
    transition-duration: 0.3s;
}
.select__body {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    z-index: 1;
}
.select__item {
    cursor: pointer;
    background-color: #fff;
}
.select__link {
    padding: 10px 55px;
    color: inherit;
}
@media (min-width: 992px) {
    .select__item:hover {
        background-color: #020534;
        color: #fff;
    }
    .select__item:active {
        opacity: 0.6;
    }
}
.select__item:last-child {
    border-radius: 0 0 5px 5px;
}
@media (max-width: 991px) {
    .select {
        display: block;
        margin-top: 20px;
        margin-left: 0;
    }
}
@media (max-width: 575px) {
    .select {
        margin-top: 10px;
    }
}